* {
    font-family: "JetBrains Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0;
    padding: 0;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

window#waybar {
    border: none;
    background-color: transparent;
}

window#waybar.empty #window {  
    background-color: transparent;
}  

/*window#waybar.hidden {
    opacity: 0.2;
}
*/

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/*
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
/*
#pulseaudio:hover {
    background-color: #a37800;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/*
#mode {
    
}
*/

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#privacy,
#custom-power,
#window,
#workspaces,
#keyboard-state {
    border-radius: 15px 15px 15px 15px;
    padding: 0 12px 0 12px;
    background-color: #0A1F44;
}

#workspaces {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
/*
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
*/

/* If workspaces is the rightmost module, omit right margin */
/*
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
*/

/*
#clock {

}
*/

/*
#battery {
    background-color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
*/

/* Using steps() instead of linear as a timing function to limit cpu usage */
/*
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}
*/

/*
label:focus {
    background-color: #000000;
}

#cpu {

}

#memory {

}

#disk {

}
*/

/*
#backlight {
    background-color: #90b1b1;
}
*/

/*
#network {

}

#network.disconnected {
    background-color: #79C9C5;
}

#pulseaudio,
#wireplumber {

}
*/

#pulseaudio.muted,
#wireplumber.muted {
    background-color: #79C9C5;
}

/*
#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
*/

/*
#temperature {

}

#temperature.critical {

}

#tray {

}
*/

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;

}

/*
#idle_inhibitor {

}

#idle_inhibitor.activated {

}

#mpd {

}
*/

/*
#mpd.disconnected {
    background-color: #89A3B2;
    color: black;
}

#mpd.stopped {
    background-color: #89A3B2;
}

#mpd.paused {
    background-color: #89A3B2;
}
*/

/*
#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
*/

/*
#scratchpad {
    
}
*/

#scratchpad.empty {
	  background-color: transparent;
}

/*
#privacy {

}
*/

#privacy-item {
    padding: 0 5px 0 5px;
    color: #FF4D00;
}

#custom-power {
    border-radius: 15px 15px 15px 15px;
    padding: 0 10px 0 10px;
    background-color: #F96E5B;
}

#custom-power:hover {
    background-color: #FFA500;
}
